@font-face {
  font-family: PassionOne;
  src: url(../public/vendor/fonts/PassionOne-Regular.ttf);
}

.header {
  position: relative;
  max-width: 375px;
  padding: 16px;
}

.header__title {
  margin-bottom: 8px;
  font-family: PassionOne, sans-serif;
  font-size: 32px;
  line-height: 1.1;
  color: rgba(248, 102, 0, 1);
}

.header__subtitle {
  font-size: 16px;
  line-height: 1.5;
}
